body{
  margin: 0;
  text-align: center;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Lobster', cursive;
  font-size: 5.7rem;
  color: #66BFBF;
}
h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Playfair Display', serif;
  color: #11999E;

}
a{
  color: #11999E;
}
a:hover{
  color: #EAF6F6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  broder-color: #EAF6F6;
  border-width: 8px;
  width: 5%;
}
p{
  line-height: 2;
}
.intro{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.intro-blub{
  width: 30%;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.profile-img{
  width: 13%;
  margin: auto;
}

.physics-img{
  width: 25%;
  margin-right: 30px;
  float: left;
}
.data-img{
  width: 25%;
  margin-left: 30px;
  float: right;
}
.middle-container{
  color: #40514E;
  padding: 100px;
}
.contat-me{
  width: 40%;
  margin: auto;
}
.BUTTON_QBF {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #49A3A3);
   background-image: -moz-linear-gradient(top, #66BFBF, #49A3A3);
   background-image: -ms-linear-gradient(top, #66BFBF, #49A3A3);
   background-image: -o-linear-gradient(top, #66BFBF, #49A3A3);
   background-image: -webkit-gradient(to bottom, #66BFBF, #49A3A3);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 5px 0 #000000;
   -moz-box-shadow: 1px 1px 5px 0 #000000;
   box-shadow: 1px 1px 5px 0 #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;

}

.BUTTON_QBF:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 40px;
}
.footer-link{
  margin: 20px;
  line-height: 2;
  color: #11999E;
  text-decoration: none;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
